body
{
    background-color:black;
}


ul
{
    position: absolute;
    left:O;
    top:2vw;
    list-style: none;
    padding:0;
  
   
    border-radius:3%




}

li
{
    display:flex;
    background-color: rgba(255,255,255,0.3);

}




li{

    height: 51px;
    width: 51px;


}


li.cameleon
{
    border-radius:20% 20% 0 0 ;
background-image: url(img/cameleon.png);
background-repeat: no-repeat;
background-size: contain;
background-size: 35px 35px;

background-position: center;
}
li.Chameau
{
background-image: url(img/chameau.png);
background-repeat: no-repeat;

background-size: 35px 35px;

background-position: center;
}
li.Crocodile
{
background-image: url(img/crocodile.png);
background-repeat: no-repeat;
background-size: contain;
background-size: 35px 35px;

background-position: center;
}
li.Elephant
{
background-image: url(img/elephant.png);
background-repeat: no-repeat;
background-size: contain;
background-size: 35px 35px;

background-position: center;
}
li.Ours
{
background-image: url(img/ours.png);
background-repeat: no-repeat;
background-size: contain;
background-size: 35px 35px;

background-position: center;
}
li.canard
{
background-image: url(img/canard.png);
background-repeat: no-repeat;
background-size: contain;
background-size: 35px 35px;

background-position: center;
}

li.Panda
{
background-image: url(img/panda.png);
background-repeat: no-repeat;
background-size: contain;
background-size: 35px 35px;

background-position: center;

border-radius:0 0 20% 20% ;
}

li:hover{
    background-color: red;
}


div.texte
{
padding:0;
margin:0;
}

p
{
    display: block;
    color:rgba(255,255,255,0.1);
    opacity: 0;



    width:95px;
    height: 100%;
    margin:0;

    display: flex;
    flex-direction: column;
    justify-content: center;

    text-align:center;
z-index:1;

    transform: translate(-50px);
    transition-property: all;
    transition-duration: 1.5s;
}



p.list:hover
{


    display: block;
    color:white;
    opacity: 1;

    background-color: rgba(255,255,255,0.3);
    width:80px;
    height: 50px;

display: flex;
flex-direction: column;
justify-content: center;

    text-align:center;

    transform: translate(50px);
    border-radius: 0 20% 20% 0;
}

p.start:hover
{


    display: block;
    color:white;
    opacity: 1;

    background-color: rgba(255,255,255,0.3);
    width:80px;
    height: 50px;

display: flex;
flex-direction: column;
justify-content: center;

    text-align:center;

    transform: translate(50px);
    border-radius: 20% 20% 20% 0;
}

p.end:hover
{


    display: block;
    color:white;
    opacity: 1;

    background-color: rgba(255,255,255,0.3);
    width:80px;
    height: 50px;

display: flex;
flex-direction: column;
justify-content: center;

    text-align:center;

    transform: translate(50px);
    border-radius: 0 20% 20% 20%;
}






